---
layout: page
title : Fekra Computers Opens Source
header-img: "img/Company Logo.png"
description: "Islamic Opens Source Software news,Ideas and tutorials"
---

<!-- About Content -->
<section id="about">
	<div>
		Home for Fekra computers islamic open source projects<br>
<p>This website two main goals:</p>
<ol>
<li>Source for <a href="http://fekracomputers.github.io">fekracomputers.github.io</a> website</li>
<li><a href="https://github.com/fekracomputers/fekracomputers.github.io/issues">The issue track</a> for general issues and open source islamic project suggestion</li>
</ol>
<strong>The website</strong>
<ol>
<li>Provide news and information about our applications</li>
<li><a href="/blog/">blog</a>
<ol>
<li>Provide general instructions for contributing in our projects</li>
<li>Provide some technical</li>
<li>Information about open source islamic software generally</li>
</ol>
</li>
</ol>
<p>Note that the website and all its content <em>is</em> a <strong><a href="https://github.com/fekracomputers/fekracomputers.github.io/">git repo</a></strong> so any for any addition, suggestion, typo or correction make a pull request</p>
<strong>Project Idea Suggestion or general contribution</strong>
<ul>
<li>
<p>If you think of any Islamic software project Idea please create an issue in <a href="https://github.com/fekracomputers/fekracomputers.github.io/issues">the issue track</a> and tag it "project suggestion"</p>
</li>
<li>
<p>If you want to contribute with your <strong>coding</strong> ,<strong>UI design</strong>, <strong>translation</strong> or  <strong>website</strong> editing effort but don't know where to star or which issue have higher priority please create an issue in <a href="https://github.com/fekracomputers/fekracomputers.github.io/issues">the issue track</a> and tag it "help offer" and your specific skill as (web,android ...)</p>

	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2>Here's the stuff I've yet to disavow.</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						Category: {{ item.category }}
					</div>
				</div>
				<img src="{{ item.image }}" class="img-responsive" alt="">
			</a>
		</div>
		{% endfor %}
	</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
								<img src="{{ item.image }}" class="img-responsive img-centered" alt="">
								<p class="item-description">{{ item.content }}</p>
								<ul class="list-inline item-details">

									<li>Date:
										<strong>{{ item.date | date: '%B %Y' }}
										</strong>
									</li>
									<li>Category:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
